PORT=8080
NODE_ENV=development

# 地图源：google / baidu / amap
MAP_DEFAULT_PROVIDER=google

# 百度地图 JavaScript API GL
BAIDU_MAP_AK=

# 高德地图 JavaScript API
AMAP_MAP_KEY=
AMAP_SECURITY_JS_CODE=

# Google Maps JavaScript API
GOOGLE_MAPS_API_KEY=
